.control-group .controls .vector-component {
  width: 30px;
}

.container .home .gallery {
  margin: 0 auto;
  margin-top: 15px;
}

.home .gallery .gallery-thumbnail .thumbnail {
  padding: 0;
}

.home .gallery .gallery-thumbnail .gallery-img {
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: 288px 201px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 200px;
  width: 288px;
}

.home .gallery .gallery-thumbnail .num-users-connected {
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
  vertical-align: bottom;
}

.home .gallery .gallery-thumbnail .user-count {
  vertical-align: bottom;
}

.createSceneModal .thumbnail-tab .thumbnails .thumbnail-img {
  display: none;
  height: 200px;
  width: 300px;
}

.createSceneModal .lights-tab .form-horizontal .control-label,
.createSceneModal .objects-tab .form-horizontal .control-label,
.createSceneModal .materials-tab .form-horizontal .control-label {
  width: 100px;
}

.createSceneModal .lights-tab .form-horizontal .controls,
.createSceneModal .objects-tab .form-horizontal .controls,
.createSceneModal .materials-tab .form-horizontal .controls {
  margin-left: 120px;
}

.fuelux .colorpicker.dropdown-menu {
  z-index: 1100;
}

.createSceneModal .lights-tab .added-lights-tree,
.createSceneModal .objects-tab .added-objects-tree,
.createSceneModal .materials-tab .added-materials-tree {
  height: 190px;
  margin-top: 20px;
  width: 180px;
}

.createSceneModal .btn-remove-selected-lights,
.createSceneModal .btn-remove-selected-materials,
.createSceneModal .btn-remove-selected-objects {
  margin-top: 4px;
}

.createSceneModal .tree .icon-pencil:hover {
  opacity: 1;
}

.createSceneModal .tree .icon-pencil {
  opacity: 0.5;
  float: right;
}

.preview-scene-popup,
.preview-material-popup {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  display: none;
  margin-top: -100px;
  position: absolute;;
  top: 50%;
}

.preview-material-popup {
  border-left: none;
  height: 199px;
  right: -202px;
  width: 200px;
}

.preview-scene-popup {
  border-right: none;
  height: 199px;
  left: -302px;
  width: 300px;
}

.preview-scene-popup #preview-scene-canvas,
.preview-material-popup #preview-material-canvas {
  margin-top: -1px;
}
