.control-group .controls .vector-component {
  width: 30px;
}

.container .home .gallery {
  margin: 0 auto;
  margin-top: 15px;
}

.home .gallery .gallery-thumbnail .thumbnail {
  padding: 0;
}

.home .gallery .gallery-thumbnail .gallery-img {
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: 288px 201px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 200px;
  width: 288px;
}

.home .gallery .gallery-thumbnail .num-users-connected {
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
  vertical-align: bottom;
}

.home .gallery .gallery-thumbnail .user-count {
  vertical-align: bottom;
}

.createSceneModal .objects-tab .form-horizontal .control-label,
.createSceneModal .materials-tab .form-horizontal .control-label {
  width: 100px;
}

.createSceneModal .objects-tab .form-horizontal .controls,
.createSceneModal .materials-tab .form-horizontal .controls {
  margin-left: 120px;
}

.fuelux .colorpicker.dropdown-menu {
  z-index: 1100;
}

.createSceneModal .objects-tab .added-objects-tree,
.createSceneModal .materials-tab .added-materials-tree {
  height: 190px;
  margin-top: 20px;
  width: 180px;
}
